header{
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: right;
    padding: 2px;
}
li{
    margin: 12px;
    list-style-type: none;
    
}
li :hover{
    background-color: gray;
    padding: 5px;
    margin: 0px;
    border: 2px;
    border-radius: 4px;
    color: white; 
    transition: .32s;
}

.logo{
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    right: 95%;
    font-size: larger;
    
}
li a{
    text-decoration: none;
    font-style: italic;
    color: black;
}